{% extends "base.html" %}
{% block content %}
    {% if forms.error %}
    <div class="alert alert-danger" role="alert">
        Ваши логин и пароль не совападают. Попробуйте еще раз.
    </div>
    {% endif %}
    <form class="form-signin"
          role="form"
          method="post"
          action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
        <h2 class="form-signin-heading">Пожалуйста войдите в систему</h2>
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти в систему</button>
            <input type="hidden" name="next" value="{{ next }}"/>

    </form>
{% endblock %}
<!--
<form class="form-signin" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
    <h2 class="form-signin-heading">Пожалуйста войдите в систему</h2>
        <input type="text" class="form-control" placeholder="Логин" required autofocus>
        <input type="password" class="form-control" placeholder="Пароль" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Запомнить
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Вход в систему</button>
      </form>
-->
