{% extends "base.html" %}
{% load staticfiles %}
{% block navbar %}
<p class="navbar-text navbar-right" style="padding-right: 60px;">
    <span class="glyphicon glyphicon-user"> </span> Профиль {{profile.username}}
    {% if profile.username != user.username %}
    <span class="btn btn-xs btn-default follow-btn"
          title="Следить за {{profile.username}}"
          value="{{ following }}"
          username="{{ profile.username }}">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="follow-text">
            {{ following|yesno:"Не следить,Сделить" }}
        </span>
    </span>
    {% endif %}
</p>
<p class="navbar-text navbar-right">
    <span class="glyphicon glyphicon-user"></span>   {{profile.username}}
</p>
{% endblock %}
{% block content %}
<div class="row clearfix">
    <div class="col-md-6 col-md-offset-3 column">
        <form id="search-form" method="POST" action="post/">{% csrf_token %}
            <div class="input-group">
                <div class="form-group">
                    <label class="sr-only" for="tweet">Текст твита</label>
                    {{ form.text.error }}
                    {{ form.text }}
                </div>
                <div class="form-group">
                    <label class="sr-only" for="country">Страна</label>
                    {{for.country.error}}
                    {{form.country.as_hidden}}
                </div>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Опубликовать
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<hr/>
<p><h2 style="padding-left: 50px;padding-right: 50px">Ваши последние твиты</h2></p>
<div class="col-md-12 column">
    {% for tweet in tweets%}
    <div class="well">
        <span>{{tweet.text}}</span>
        <span class="badge">{{tweet.created_date}}</span>
    </div>
    {% endfor %}
    <nav>
        <ul class="pager">
            {% if tweets.has_previous %}
            <li><a href="?page={{tweets.previous_page_number}}">Предыдущая</a></li>
            {% endif %}
            {% if tweets.has_next %}
            <li><a href="?page={{tweets.next_page_number}}">Следующая</a></li>
            {% endif %}
        </ul>
    </nav>


</div>
{% endblock%}
{% block js %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}